
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --theme: rgba(29, 161, 242, 1.00);
    --twtIcon: rgb(29, 155, 240);
    --twtIconHover: rgb(29, 155, 240, 0.1);
    --twtButtonHover: rgb(26,140,216);
    --textNotActive: rgb(113, 118, 123);
    --text: rgb(231, 233, 234);
    --trends: rgb(22, 24, 28);
    --footer: #71767b;
    --tweet: rgb(113, 118, 123);
    --border: rgba(231, 233, 234, 0.321);
    --hover: rgb(231, 233, 234, 0.1);
    --bbBlur: rgba(0, 0, 0, 0.65);
    --background:black;
    --trending:rgb(22, 24, 28);
}

body {

    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text);
    font-size: 15px;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    letter-spacing: .02vw;
    width: 100%;
    height: 100%;
}

.post-tweet-text textarea::selection{
    background-color: var(--twtIcon);
}
.padding {
    padding: 12px;
}
.paddingL{
    padding: 4px;
}
.opacity {
    opacity: .5;
}
.active {
    font-weight: 700;
}

/*========= sidebar left  =========*/
.sidebar-left {
    width: 26%;
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    height: 100%;
    position: relative;
    min-width: 52px;
    min-height: 52px;
}

.container-nav{
    position: fixed;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 1em;
    margin-bottom: .5em;
}

.picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .4em;
}
.tweet-icon{
    display: none;
}

.logo {
    align-self: flex-start;
    height: max-content;
    margin-top: .5em;
    padding-left: 12px;
    padding-right: 12px;
}

.icon-sidebar-twt {
    fill: var(--text);
    height: 2rem;
    width: 30px;
}

.logo:hover, .icon-tweet:hover{
    background-color: rgb(29, 155, 240, 0.1);
    border-radius: 99px;
    transition: .3s ease-in-out;
}
    
.sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 1em;
}

.sidebar-menu-item span {
    font-size: 20px;
}

.sidebar-menu-item:hover, .profile:hover {
    width: max-content;
    height:min-content;
    border-radius: 99px;
    background-color: var(--hover);
    transition: .3s ease-in-out;
    cursor: pointer;
}


.icon-profile{
    fill: var(--text);
    width: 1.2rem;
    height: 1.25rem;
    max-width: 100%;
}

.icon-sidebar-twt {
    fill: var(--text);
    height: 2rem;
    width: 30px;
}

.search {
    display: none;
}

.profileName h2{
    font-size: 15px;
    color: var(--text);
    font-weight: 700;

}

.icon-profile-container{
    margin-left: 1em; 
}
.profileName h4{
    font-size: 15px;
    color: #71767b;
    font-weight: 400;
}
.icon-sidebar {
    fill: var(--text);
    width: 1.75rem;
    min-width: 40px;
    height: 1.75rem;
    /* padding: .3em; */
}

.tweeting{
    width: 90%;
    background-color: var(--twtIcon);
    display: flex;
    justify-content: center;
    padding: 1em;
    border-radius: 99px;
    transition: .3s ease-in-out;
}
.tweeting:hover{
    background-color: var(--twtButtonHover);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.textTweet span{
    font-size: 17px;
    font-weight: 700;
}

/* ======== middle section ======== */
.main-layout{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 2;
    align-self: center;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    min-height: 100%;
}

.line{
    background-color: var(--border);
    height: 1.55px;
    width: 100%;
}
.middle-part{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    /* flex: 2; */
    /* width: 600px; */
    justify-content: space-between;
    align-items: stretch;
    flex-shrink: 1;
    min-height: 100%;
    overflow-x: hidden;
}

.home-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    z-index: 5;
    position: sticky;
    top: -0.5px;
    /* background-color: var(--background); */
    backdrop-filter: blur(8px);    
}

.selection-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    /* height: 100%; */
    /* border-bottom: 1px solid var(--border); */
}
.letter-container{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 53px;
    min-width: 60px;
}
.select-left{
    align-self: center;
    padding-left: 16px;
    padding-right: 12px;
}

.select-right{
    align-self: center;
    padding-left: 16px;
    padding-right: 12px;
}

.letter-container:hover{
    background-color: var(--hover);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.home-title {
    height: 53px;
    /* width: 100%; */
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 3;
}

.home-title h2 {
    padding-top: 12px;
    margin-top: .3em;
    padding-bottom: 2px;
    font-size: 20px;
    font-weight: 700;
}

/* posting tweet */
.container-post-tweet{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
}
.post-tweet{
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 70px;
    height: 100%;
}

.post-tweet-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: 60px;
    /* height: 60px; */
    flex-shrink: 1;
}
.post-tweet-pf{
    padding-top: 4px;
    flex-basis: 48;
    margin-right: 12px;
    flex-grow: 0;
}
.post-tweet-image{
    width: 48px;
    height: 48px;
    top: 0;
    border-radius: 50%;
}

.post-tweet-text-container{
    flex-basis: 0px;
    flex: 1;
    position: static;
    display: flex;
    padding: 2px;
    padding-top: 4px;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}
.post-text{
    font-size: 20px;
    background: none;
    border: none;
    resize: none;
    height: 100%;
    /* padding: 5em; */
}

.post-text:focus::placeholder{
    color: var(--text);
}
.form{
    display: flex;
    flex-direction: column;
}
.post-tweet-text{
    border-width: 2px;
    flex-grow: 1;
    width: 100%;
    /* padding-bottom: 1em;
    padding-top: .8em; */
    transition: .1s ease;
}

textarea {
    color: var(--text);
    font-family: inherit;
    vertical-align: baseline;
    outline: 0;
    overflow-y: hidden;
    height: auto;
    width: 100%;
    line-height: 1.5;
}

textarea::placeholder {
    color: var(--text);
    opacity: .5;
}

textarea:hover::placeholder {
    color:var(--text);
    opacity: .5;
}

.post-text:focus::-webkit-input-placeholder,
.post-text:focus::placeholder {
    color: transparent;
    opacity: .5;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 1000px var(--background);
    -webkit-text-fill-color: var(--text);
}

.post-text:focus,
.post-text::selection {
    background: none;
    border: none;
    caret-color: var(--text);
    outline: none;
    color: var(--text);
}

.appendix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.icon-post-tweets{
    display: flex;
    flex-direction: row;
    /* margin-top: 12px; */
    gap: .8em;
    align-items: center;
    /* flex-wrap: wrap; */
}
.icon-post-tweet-container{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: .8em;
}
.icon-tweet {
    width: 20px;
    padding: 7px;
    display: block;
    height: 20px;
    fill: var(--twtIcon);
}
.icon-tweet:hover{
    background-color: rgb(29, 155, 240, 0.1);
    border-radius: 99px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.button-submit{
    border: none;
    color: var(--text);
    background: none;
    font-size: 15px;
    font-weight: 700;

}
.button-submit:hover{
    cursor: pointer;
}
.tweet-button{
    background-color: var(--theme);
    border-radius: 60px;
    /* padding: .7em; */
        padding-top: .6em;
            padding-left: 1em;
            padding-right: 1em;
            padding-bottom: .6em;
            text-align: center;
            align-self: center;
}
.tweet-button:hover{
    opacity: 1;
    transition: .3s ease-in-out;
}
/* ==== tweeted section =====*/
.tweets{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-shrink: 1;
    max-width: 600px;
    width: 100%;
}

.tweets-container{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100px;
    flex-grow: 2;
    width: 100%;
}

.tweet{
    display: flex;
    border-bottom: 1px solid var(--border);
    width: 100%;
    
    flex: 1;
    /* height: fit-content; */
    height: auto;

}
.tweet-container{
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    width: 100%;
}
.account-tweet{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5em;
}
.account-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.account-name h2{
    font-size: 15px;
}
.account-name h4{
    color: #71767b;
    font-weight: 400;
}

.account-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.posted-tweet-icon {
    width: 1.25em;
    height: 1.25em;
    fill: var(--tweet);
}
.posted-tweet-icon:hover{
    fill: var(--twtIcon);
    background-color: rgb(29, 155, 240, 0.1);
    transition: .3s ease;
    border-radius: 60px;
    cursor: pointer;
}
.account-tweet{
    font-weight: 400;
    font-size: 15px;
}
.account-social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    width: 90%;
    padding-bottom: 12px;
    align-items: center;
}
.account-social-icons .posted-tweet-icon{
    padding: 5px;
}
.account-social-icons svg:nth-of-type(1):hover {
    fill: var(--twtIcon);
    background-color: rgb(29, 155, 240, 0.1);
    transition: .3s ease;
    border-radius: 60px;
    cursor: pointer;
}

.account-social-icons svg:nth-of-type(2):hover {
    fill: rgb(0, 186, 124);
    background-color: rgb(0, 186, 124, .1);
    transition: .3s ease;
    border-radius: 60px;
    cursor: pointer;
}

.account-social-icons svg:nth-of-type(3):hover {
    fill: rgb(249, 24, 128);
    background-color: rgb(249, 24, 128, .1);
    transition: .3s ease;
    border-radius: 60px;
    cursor: pointer;
}

.account-social-icons svg:nth-of-type(4):hover {
    fill: var(--twtIcon);
    background-color: rgb(29, 155, 240, 0.1);
    transition: .3s ease;
    border-radius: 60px;
    cursor: pointer;
}

.account-social-icons svg:nth-of-type(5):hover {
    fill: var(--twtIcon);
    background-color: rgb(29, 155, 240, 0.1);
    transition: .3s ease;
    border-radius: 60px;
    cursor: pointer;
}
/* ======= sidebar right ========== */
.sidebar-right{
    display: block;
    /* flex: 1;
    flex-grow: 2; */
    height: 100%;
    min-height: 2600px;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
     flex-shrink: 4;
    position: relative;

}

.container-sticky{
    display: flex;
    flex-shrink: 2;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.dot{
    font-size: smaller;
}
.search-container{
     position: sticky;
    top: 0; 
    height: max-content;
    background-color: var(--background);
}
.search-form{
    min-height: 32px;
    margin-bottom: 12px;
    height: 53px;
    /* width: 350px; */
    width: 80%;  
    margin-top: .9vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(32, 35, 39);
    border-radius: 99px;


}
.search-form .posted-tweet-icon{
    position: relative;
    padding-left: 12px;
    margin: auto;
}

.search-label{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 100%;

}
.search-label input[type="text"] {
    padding: 8px 12px 10px 12px;
    border:none ;
    background:none;
    color: var(--text);
    font-family: inherit;
    font-size: 100%;
    width: max-content;
    vertical-align: baseline;
    outline: 0;
}

.search-label input[type="text"]::placeholder {
    color: rgba(255, 255, 255, .4);
}

.search-label input[type="text"]:hover::placeholder {
    color: rgba(255, 255, 255, .4);
}

.search-label input[type="text"]:focus::placeholder {
    color: transparent;
}

.trends-for-you, .who-to-follow{
    margin-top: .8vh;
    background-color: var(--trending);
    border-radius: 16px;
    /* min-height: 500px;  */
    width: 80%;
    margin-bottom: 16px;
}
.title-trend, .follow-title{
    padding-top: .8em;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 20px;
}

.trending-list, .follow-list{
    margin-top: 1.2vh;
    width: 100%;
    display: flex;
    height: max-content;
    flex-direction: column;
}
.trending-item:hover, .follow-item:hover{
    background: rgb(255, 255, 255, .03);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.pf-container{
    display: flex;
    flex-direction: row;
}
.trending-item{
    display: flex;
    padding-left: .8em;
    align-items: center;
    padding-right: .8em;
    /* padding-top: .2em; */
    flex-direction: row;
    height: 82px;
    max-width: 100%;
    justify-content: space-between;
}
.follow-item{
    display: flex;
    padding: .8em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.follow-text h2{
        font-size: 15px;
}
.follow-text h4{
        font-size: 15px;
        color: #71767b;
        font-weight: 400;
}
.trending-text{
    display: flex;
    flex-direction: column;
}
.trending-text h4{
    font-size: 13px;
    color: #71767b;
    font-weight: 400;
}
.trending-text h2{
    font-size: 15px;
}
.show{
    height: 40px;
}
.show-more{
    color: var(--twtIcon);
}
.follow-btn{
    padding: .6em;
    background-color: rgb(239, 243, 244);
    border-radius: 60px;
}
.follow-btn:hover{
    background-color: rgb(215, 219, 220);
    transition: .3s ease-in-out;
}
.follow-btn p{
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5vw;
    width: 80%;

}
.footer p, .footer a{
    color: #71767b;
    font-size: 13px;
    font-weight: 400;
}
.footer p:hover, .footer a:hover{
    text-decoration-line: underline;
    cursor: pointer;
    transition: .3s ease-in-out;
}

/* ====== the message box ================ */
.message-container{
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;

}

.message-box {
    position: fixed;
    margin-right: 2vw;
    bottom: -346px;
    /* right: 20px; */
    width: 360px;
    height: 400px;
    max-height: 400px;
    overflow: hidden; 
    background-color: var(--background);
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    transition: all 0.3s ease;
    z-index: 99;
}
.icons-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
}
.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    padding-left: 16px;
    padding-right: 16px;
    /* border-bottom: 1px solid #ccc; */
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
   /* backdrop-filter:  blur(12px); */
}

.message-box.visible {
    bottom: 0;
}
.icons-message .icon-sidebar-twt{
    width: 20px;
    height: 20px;
    padding: 8px;
}
.icons-message .icon-sidebar-twt:hover {
    background-color: var(--hover);
    border-radius: 60px;
    cursor: pointer;
    transition: .3s;
}
.chat-container{
    overflow: auto;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
}
.chat-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.empty-box{
    height: 100px;
}
.message-title{
    font-size: 20px;
    font-weight: 700;
}
.chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
    cursor: pointer;
    width: 100%;
}

.chat:hover {
    background-color: var(--hover);
    transition: .3s ease-in-out;
}

.chat-text{
    display: flex;
    flex-direction: column;
    gap: .5vh;
    /* justify-content: space-between; */
    width: 70%;
}
.chat-user{
    display: flex;
    flex-direction: row;
    /* gap: 1vw; */
    justify-content: space-between;
    width: 100%;
}
.chat-username{
    display: flex;
    flex-direction: row;
    gap: .5vw;
}
.chat-username h2{
    font-size: 15px;
}
.chat-username h4, .chat-text p{
    font-size: 15px;
    color: #71767b;
    font-weight: 400;
}

/* === media queriess === */
@media (max-width: 1300px) {
    .sidebar-menu-item span {
        display: none;
    }

    .tweet-icon{
        display: block;
    }
    .textTweet span{
        display: none;
    }
    .tweeting{
        width: fit-content;
    }

    .profileName, .icon-profile-container{
        display: none;
    }
}
@media(max-width:1100px){
    .sidebar-left{
        width: 18%;
    }
    .message-container{
        display: none;
    }
}
@media(max-width:1000px){
    .message-container, .sidebar-right{
        display: none;
    }
    .sidebar-left{
        width: 23%;
    }
    .main-layout{
        margin-right: 13vw;
    }
}
@media (max-width:980px){
    .sidebar-right{
        display: none;
    }

    .search-form{
        display: none;
    }
}
@media (max-width: 900px) {
    .search {
        display: block;
    }

    .nonSearch, .list, .calendar,
    .sidebar-right {
        display: none;
    }

    .padding{
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .sidebar-right {
        display: none;
    }
    .sidebar-left{
        width: 10%;
        transition: .3s ease-in-out;
    }
}

